body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backLink {
	padding: 20px;
}

.container {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	max-width: 505px;
}

.accountAvatar {
	max-height: 250px;
	max-width: 250px;
}

#accountForm {
	display: flex;
	flex-direction: column;
	gap: 14px;
	align-items: center;
	padding: 20px 0 30px;
}

#accountForm label {
	align-self: flex-end;
}
