main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #fdf2f2;
	color: #900;
	margin: 2rem;
	line-height: 1.5;
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.error-message {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

a {
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}
