header {
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(darkslateblue, darkblue);
	color: white;
}

header h1 {
	padding: 30px;
}

header a {
	text-decoration: none;
	color: white;
}

.headerContainer {
	display: flex;
	align-items: center;
}

.loginLinks {
	display: flex;
	padding: 20px;
	gap: 20px;
}

.userContainer {
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 10px;
}

.userInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.avatar {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	background-color: white;
}
